section
  section
    h1 Inheritance

  section
    h2 Inheritance
    ul
      li Let's take this one step further:
      li <code>Car.prototype</code> can be an arbitrary object
      li i.e. we can use an instance produced by another constructor 

        pre: code.
          function Vehicle(wheels) {
            this.wheels = wheels;
          }

          // redefine Car.prototype
          Car.prototype = new Vehicle(4);
          Car.prototype.drive = function() {...}

          var ferrari = new Car("Ferrari");
          var ford    = new Car("Ford");

          ferarri.wheels; // -> 4

  section
    h2 The Prototype, Part IV
    ul
      li What if we add something to the <code>Vehicle</code> prototype?

        pre: code.
          Vehicle.prototype.getAxes = function() {
            // assume 2 wheels per axis
            return this.wheels / 2;
          }

          show(ferrari);

      li.fragment Result?

        pre: code.
          name=Ferrari
          wheels=4
          drive=function () {...}
          getAxes=function () {...}

      li.fragment The new function automatically appears to be a member
        |of our <code>Car</code> instance
      li.fragment We didn't even have to call the constructor again

  section
    :markdown
      ## What we've learned
      * All objects that share the same *prototype* share all
        the properties defined on that prototype
      * 

  section
    h2 The Prototype, Part II
    ul
      li Let's go back to our
        a(href='#/2/4') previous question

        pre: code.
          function show(obj) {
            for (var key in obj) {
              console.log(key + "=" + obj[key]);
            }
          }

          show(ferrari);

      li Result:

        pre: code.
          name=Ferrari
          drive=function () {
            console.log(this.name + " goes vroom!");
          }


  section
    :markdown
      ## What have we learned?
      * `for in` iterates over *all* properties, 
        including those defined on the *prototype*
      * In fact, looking up a property of an object traverses the
        *entire* "prototype-chain" until either a match is 
        found or the end of the chain is reached <br/>
        (i.e. `prototype == undefined`)
      * This is the *essence* of JavaScript's object model

